ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
}

.text {
  font-weight: 500;
}
/* ====================MOBILE STYLES===================== */

.link-list {
  display: none;
}
.navlink-studio {
  color: var(--OCEAN, #404bbf);
}
.navlink-studio {
  color: var(--OCEAN, #404bbf);
  /* Body Medium */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

.address-list {
  display: none;
}
.logo {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway;
  font-size: 18px;
  line-height: 1.16em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.top-logo {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Raleway;
  font-size: 18px;
  line-height: 1.16em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.menu {
  padding-top: 16px;
  padding-bottom: 16px;
}
.header-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .container-btn {
    height: 100%;
    position: relative;
  }
  .hero-color {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/media-background/background-mobile@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: center;
    padding-top: 72px;
    padding-bottom: 72px;
  }
  @media (min-device-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-color {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/media-background/background-mobile@2x.jpg);
    }
  }
  .mobile-menu .mobile-menu-address {
    margin-top: 168px;
  }
  .mobile-menu-address-list {
    display: flex;
    gap: 24px;
    flex-direction: column;
  }
  .mobile-menu-social {
    margin-top: 48px;
  }
  .mobile-social-ul {
    display: flex;
    gap: 40px;
  }
  .mobile-menu-social-icons {
    background-color: #4d5ae5;
    line-height: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  .mobile-social-svg {
    text-align: center;
    fill: #f4f4fd;
  }
  .mobile-social-ul {
    display: flex;
  }

  .mobile-menu-close-btn {
    border: 1px solid #e7e9fc;
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: transparent;
    display: inline-block;
    border-radius: 50%;
    padding: 0;
    line-height: 0;
    width: 24px;
    height: 24px;
  }
  .mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999999999999;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform 250ms linear;
  }
  .mobile-menu.is-open {
    transform: translateX(0%);
  }
  .mobile-menu-li {
    color: var(--NAVY-BLUE, #2e2f42);
    font-size: 36px;

    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
  }
  .mobile-menu-li-studio {
    color: #404bbf;
    margin-top: 72px;
  }
  .mobile-menu-li:active {
    color: var(--OCEAN, #404bbf);
  }
  .mobile-menu-address-link {
    color: var(--SLATE, #434455);
    /* Header 3 */
    font-size: 20px;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: 0.4px;
  }
  .mobile-menu-address-link:active {
    color: var(--OCEAN, #404bbf);
  }
  .icon-burger-btn {
    border: none;
    position: absolute;
    background-color: transparent;
    padding: 0;
    line-height: 0;
    right: 15px;
    top: 15px;
  }
}

/* ======================MOBILE HERO============================== */
.main-title {
  color: var(--WHITE, #fff);
  text-align: center;
  /* Header 2 */
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
  max-width: 150px;
  margin-right: auto;
  margin-left: auto;
}
.button {
  display: block;
  padding: 16px 32px;
  min-width: 169px;
  min-height: 56px;
  font-size: 16px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 72px;
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.04em;
  border: none;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
  cursor: pointer;
}
/* ===================MOBILE DESCR============================== */

.descr-icons-container {
  display: none;
}
.small-titles {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  /* Header 2 */
  font-size: 36px;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.flex-smalltitles {
  display: flex;
  flex-direction: column;
  gap: 72px;
  width: 288px;
  align-items: center;
  margin-top: 96px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 96px;
}
.text {
  width: 100%;
  color: var(--SLATE, #434455);
  /* Body Medium */
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  margin-top: 8px;
}
/* ===================MOBILE TEAM============================== */
.team-section {
  padding-top: 96px;
  background-color: rgba(244, 244, 253, 1);
}
.team-section-title {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  gap: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  min-width: 264px;
}
.team-name-position {
  padding: 32px 0;
}
.team-list-item-name {
  color: #2e2f42;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.team-list-item-text {
  color: #434455;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.team-icon-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 8px;
}
.team-icon {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}
.team-icon-link {
  fill: #f4f4fd;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--IRIS, #4d5ae5);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  width: 264px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 72px;
}
.divcontainerteam {
  min-width: 288px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
/* ======================TABLET/HEADER============================== */
@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }
  .icon-burger-btn {
    display: none;
  }
  .mobile-menu-close-btn {
    display: none;
  }
  .mobile-social-ul {
    display: none;
  }
  .mobile-menu-list {
    display: none;
  }
  .mobile-menu-address-li {
    display: none;
  }
  .header-div {
    display: flex;
  }
  .link-list {
    display: flex;
    gap: 40px;
    margin-left: 120px;
  }
  .nav {
    align-items: center;
    display: flex;
  }
  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .navlink {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em; /* 150% */
    letter-spacing: 0.02em;
    color: #2e2f42;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
  }

  .navlink:active {
    color: #404bbf;
  }
  .navlink-studio::after {
    content: "";
    display: flex;
    width: 48px;
    position: absolute;
    height: 4px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--OCEAN, #404bbf);
    border-radius: 2px;
    margin-top: 20px;
  }
  .address-link {
    display: flex;
    color: var(--SLATE, #434455);
    font-size: 12px;
    font-weight: 400;
    line-height: 14px; /* 116.667% */
    letter-spacing: 0.48px;
  }
  .header-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  /* ===================TABLET HERO==================== */
  .main-title {
    font-size: 56px;
    line-height: 60px; /* 107.143% */
    letter-spacing: 1.12px;
    max-width: 496px;
  }
  .button {
    margin-top: 36px;
  }
  .hero-color {
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .hero-color {
    padding-bottom: 112px;
    padding-top: 112px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/media-background/background-tablet@1x.jpg);
  }

  @media (min-device-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-color {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/media-background/background-tablet@2x.jpg);
    }
  }

  /* ===================TABLET DESCR============================== */
  @media screen and (max-width: 1158px) {
    .descr-section {
      padding-top: 96px;
      padding-bottom: 96px;
    }
    .flex-smalltitles {
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0;
      width: 736px;
      column-gap: 24px;
      row-gap: 72px;
      justify-content: space-between;
    }
    .descr-list {
      width: calc((100% - 24px) / 2);
    }


    .team-list-item {
    
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    gap: 24px; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }
  .text {
    font-weight: 500;
  }
  .small-titles {
    display: flex;
  }
}

/* ===================TABLET TEAM============================== */
    .team-list {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      column-gap: 24px;

      row-gap: 64px;
      justify-content: center;
      width: 736px;
      padding-bottom: 102px;
    }
/* ===================DESKTOP============================== */
/* ===================DESKTOP HEADER============================== */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .address-list {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-direction: row;
  }
  .address-link {
    font-size: 16px;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
  }
  .navlink-studio::after {
    margin-top: 20px;
  }
  .menu {
    height: 72px;
    padding: 0;
  }
  .header-div {
    padding-top: 24px;
  }
  .link-list {
    margin-left: 76px;
  }
  .hero-color {
    padding: 0;
  }
  .main-title {
  }
  .button {
    margin-top: 48px;
  }
  .hero-color {
    padding-bottom: 188px;
    padding-top: 188px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/media-background/background-dekstop@1x.jpg);
  }

  @media (min-device-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-color {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/media-background/background-dekstop@2x.jpg);
    }
  }

  .descr-icons-container {
    display: flex;
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8e8f99);
    background: var(--CLOUD, #f4f4fd);
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    align-items: center;
    justify-content: center;
  }
  .descr-icons {
    margin: 24px 100px;
    width: 264px;
  }

  .descr-section {
    padding: 120px 0;
  }
  .flex-smalltitles {
    display: flex;
    flex-direction: row;
    margin: 0;
    align-items: center;
    gap: 24px;
  }
  .text {
    font-weight: 400;
  }
  .small-titles {
    color: var(--NAVY-BLUE, #2e2f42);
    /* Header 3 */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: 0.4px;
  }
}
/* ===================DESKTOP DESCR============================== */
