ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  padding-left: 16px;
  padding-right: 16px;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
}

/* ====================HEADER MOBILE STYLES===================== */
.link-list {
  display: none;
}

.address-list {
  display: none;
}
.logo {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway;
  font-size: 18px;
  line-height: 1.16em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.top-logo {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Raleway;
  font-size: 18px;
  line-height: 1.16em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.icon-burger-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
}
.header-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu {
  padding-top: 17.5px;
  padding-bottom: 17px;
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999999999999;
  background-color: #fff;
  transform: translateX(100%);
  transition: transform 250ms linear;
}
.mobile-menu.is-open {
  transform: translateX(0%);
}
.mobile-menu-li {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 36px;

  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
}
.mobile-menu-li-studio {
  color: #404bbf;
  margin-top: 72px;
}
.mobile-menu-li:active {
  color: var(--OCEAN, #404bbf);
}
.mobile-menu-address-link {
  color: var(--SLATE, #434455);
  /* Header 3 */
  font-size: 20px;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}
.mobile-menu-address-link:active {
  color: #404bbf;
}
.mobile-social-ul {
  display: flex;
}

.mobile-menu-close-btn {
  border: 1px solid #e7e9fc;
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: transparent;
  display: inline-block;
  border-radius: 50%;
  padding: 0;
  line-height: 0;
  width: 24px;
  height: 24px;
}
.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.container-btn {
  height: 100%;
  position: relative;
}
.mobile-menu .mobile-menu-address {
  margin-top: 168px;
}
.mobile-menu-address-list {
  display: flex;
  gap: 24px;
  flex-direction: column;
}
.mobile-menu-social {
  margin-top: 48px;
}
.mobile-social-ul {
  display: flex;
  gap: 40px;
}
.mobile-menu-social-icons {
  background-color: #4d5ae5;
  line-height: 0;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.mobile-social-svg {
  text-align: center;
  fill: #f4f4fd;
}
/* =================
===HEADER MOBILE===================== */
@media screen and (min-width: 320px) {
  .container {
    width: 352px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 800px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
}
